{% extends 'basic_bootstrap.html' %}
{% load static %}
{% block css %}

{% endblock css %}

{% block content %}

{% if posts %}
{% for post in posts %}
{% comment %} <div class="container">
    <h1 style="text-align: center;">{{post.title}}</h1>
    <li style="list-style: none;">
        <img style="width:70%;margin-top: 50px; border:3px solid black; margin-left:30px; "
            src="{{post.post_image.url}}" alt="post_image">
        <p>{{post.caption}}</p>

        {% if post.owner == user %}
        <p><a href="{% url 'update' post.id %}">Edit</a>||<a href="{% url 'delete' post.id %}">Delete</a></p>
        {% endif %}
    </li>
</div> {% endcomment %}
<div class="card mb-3">
  <img src="{{post.post_image.url}}" class="card-img-top" alt="post_image">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.caption}}</p>
    <p class="card-text"><small class="text-muted">{{post.created}}</small></p>
   <a class="btn btn-success" href="{% url 'update' post.id %}" role="button">Edit</a>
   <a class="btn btn-danger" href="{% url 'delete' post.id %}" role="button">Delete</a>

  </div>
</div>


{% endfor %}
{% else %}
<h1>there are no posts in database</h1>
{% endif %}

{% endblock content %}