.carousel-item{
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 300px;
}
.carousel-item h5, h3
{
    color: black;
   
}
.card
{
    display: table-footer-group;
    background-color: grey;
}
